.bg-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.bg-img img {
  position: fixed;
}

.bg-img img:first-of-type {
  top: -70%;
  left: -20%;
}

.bg-img img:last-of-type {
  bottom: -88%;
  right: -16%;
}

.profile-card {
  color: var(--dark-gray);
  position: relative;
  background-color: white;
  width: clamp(18.75rem, 90%, 21.875rem);
  height: 23.4375rem;
  border-radius: 1rem;
  margin: 0 auto;
  overflow: hidden;
}

.profile-card > img {
  display: block;
  width: 100%;
}

.profile-card-content {
  position: relative;
  text-align: center;
  padding-top: 4.5rem;
}

.profile-card-content h1 {
  margin-bottom: 0.5rem;
}

.profile-card-content > h1,
.user-stats > span {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.user-age,
.user-location,
.user-stats {
  color: var(--dark-grayish-blue);
  font-weight: 400;
}

.user-location {
  font-size: 0.875rem;
}

.profile-card-content hr {
  background-color: var(--dark-gray);
  height: 0.0625rem;
  width: 100%;
  border: none;
  margin: 1.5rem 0;
}

.profile-card-content > img {
  position: absolute;
  top: -3.3125rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 0.3125rem solid white;
}

.user-stats-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.user-stats {
  font-size: 0.75rem;
  letter-spacing: 0.03125rem;
  display: flex;
  flex-direction: column;
}

.user-stats span {
  margin-bottom: 0.25rem;
}

@media (max-width: 1300px) {
  .bg-img img:first-of-type {
    top: -80%;
    left: -30%;
  }
  
  .bg-img img:last-of-type {
    bottom: -98%;
    right: -26%;
  }  
}

@media (max-width: 900px) {
  .bg-img img:first-of-type {
    top: -90%;
    left: -40%;
  }
  
  .bg-img img:last-of-type {
    bottom: -108%;
    right: -36%;
  }  
}

@media (max-width: 750px) {
  .bg-img img:first-of-type {
    left: -50%;
  }
  
  .bg-img img:last-of-type {
    right: -56%;
  }  
}

@media (max-width: 650px) {
  .bg-img img:first-of-type {
    left: -100%;
  }
  
  .bg-img img:last-of-type {
    right: -100%;
  }  
}

@media (max-width: 500px) {
  .bg-img img:first-of-type {
    left: -190%;
  }
  
  .bg-img img:last-of-type {
    right: -196%;
  }  
}