.bg-img-wrapper {
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.bg-img-wrapper,
.bg-img {
  position: absolute;
  top: 0;
  bottom: 0;
}

.bg-img {
  left: 50%;
  transform: translate(-50%);
  min-width: 1440px;
}

.bg-img > img {
  position: fixed;
  transition: all 0.5s ease-in-out;
}

.bg-img img:first-of-type {
  top: -70%;
  left: -19.8%;
}

.bg-img img:last-of-type {
  bottom: -88%;
  right: -16%;
}

.profile-card {
  color: var(--dark-gray);
  position: relative;
  background-color: white;
  width: clamp(18.75rem, 90%, 21.875rem);
  height: 23.4375rem;
  border-radius: 1rem;
  margin: 0 auto;
  overflow: hidden;
}

.profile-card > img {
  display: block;
  width: 100%;
}

.profile-card-content {
  position: relative;
  text-align: center;
  padding-top: 4.5rem;
}

.profile-card-content h1 {
  margin-bottom: 0.5rem;
}

.profile-card-content > h1,
.user-stats > span {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.user-age,
.user-location,
.user-stats {
  color: var(--dark-grayish-blue);
  font-weight: 400;
}

.user-location {
  font-size: 0.875rem;
}

.profile-card-content hr {
  background-color: var(--dark-gray);
  height: 0.0625rem;
  width: 100%;
  border: none;
  margin: 1.5rem 0;
}

.profile-card-content > img {
  position: absolute;
  top: -3.3125rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 0.3125rem solid white;
}

.user-stats-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.user-stats {
  font-size: 0.75rem;
  letter-spacing: 0.03125rem;
  display: flex;
  flex-direction: column;
}

.user-stats span {
  margin-bottom: 0.25rem;
}

@media (max-height: 660px) {
  .bg-img img:first-of-type {
    top: -75%;
    left: -25%;
  }
  
  .bg-img img:last-of-type {
    bottom: -93%;
    right: -21%;
  }
}

@media (max-width: 500px) {
  .bg-img > img {
    opacity: 0.4;
  }

  .bg-img img:first-of-type {
    left: -15.5%;
    top: -95%;
  }
  
  .bg-img img:last-of-type {
    right: -15.5%;
    bottom: -90.5%;
  }
}